
body{
    background-image: url("img/fondo2.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 20px;
    background-color: black;
}
form{
    width: 400px;
    margin: auto;
    padding: 10px 20px;
    background-color: rgba(0, 0,0, 0.6);
    color: white;

}
h2{
    color: #fff;
    text-align: center;
    font-family: monospace;
    margin-bottom: 20px;

}
input{
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
      border: none ;
   
}
#button{
    background-color: #31384A;
    color: #fff;
    padding: 20px;
}
#button:hover{
    cursor: pointer;
    background-color: #3b4459;

}
.s{
width: 10%;

}
@media	only	screen	and	(max-width: 440px){
    form{
        /*margin: auto;*/
    }
    body{
       /* background-repeat: no-repeat;*/
    }
    input{
        width: 75%;
    }

}	